<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
</head>
<body onload='setFocusToForm()'>

  <h2>Service Provider A</h2>

  <form class="form" action="login" method="post">
    {{#if errorMessage}}
      <div class="alert alert-danger fade in">{{errorMessage}}</div>
    {{/if}}

    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" name="username" class="form-control" id="username" placeholder="Username" value="{{username}}">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" id="password" placeholder="Password">
    </div>

    <input type="hidden" name="target" value="{{target}}">
    <button type="submit" class="button-primary">Login</button>
  </form>

  <script language="javascript">
  function setFocusToForm(){
      document.getElementById("username").focus();
  }
  </script>

</body>
</html>
